<h1>You played paper</h1>

<h1>The computer played <%= @computer_move %> </h1>

<h1><%= @outcome %> </h1>

<h3>
  <a href="/rock"> Play rock</a>
</h3>

<h3>
  <a href="/paper"> Play paper</a>
</h3>

<h3>
  <a href="/scissors"> Play scissors</a>
</h3>
